<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>sekai-result-ocr</h1>
    <p>プロセカのリザルト画面のスクリーンショットをOCRを使ってjson化します</p>
    <form action="" method="get">
        <p><label>画像URL：<input type="text" name="src" id="src"></label></p>
        <p><input type="submit" value="送信"></p>
    </form>
    <h2>注意事項</h2>
    <ul>
        <li>絶対の正確性を保障するものではありません</li>
        <li>粗い画像は読み取れません</li>
        <li>チャレンジライブのリザルトにのみ対応しています</li>
        <li>Android等でスクリーンショットにノッチの部分が黒く残っていると読み取れません</li>
        <li>精度向上を目的として読み取りに失敗した画像は保存しています。個人情報の載った画像等は絶対に送らないでください</li>
    </ul>
</body>
</html>